# Heroes Of Pymoli - analysis purchase
The following script presents an analysis of the purchase behaviour of the Heroes of Pymoli players.

## Findings

* From the 780 purchase records, coming from 576 players, points out that __there is a huge amount of players that didn't come back to purchase another item__. This may suggest a low level of satisfaction from players after purchasing an item, or that they consider adquiring items don't enhance their game experience. Whichever the case, this represents a business opportunity. It's necessary to think on strategies to encourage one-purchasers to visit the store again and buy more.


* __There is a huge drop of purchasers of 31.42% from our most active age segment (20-24 years old - 44.79%) to the inmediate next one (25-29 years old - 13.37%)__. Taking in mind that the transition from the first segment to the second one is typycally the time when a person moves from being a college student to a new employee, this new life dynamic might explain the drastic decrease in purchases and probably the time play too. It is necessary to think on actions that allow us keep more players engaged in the game by the time they reach that age segment.


* The prices of the most purchased items (3.22US - 4.61US) are actually above the average price from all the items listed (3.05US), meaning that ___players are willing to invest on the most expensive items as long as they're attractive enough__. This might suggest the best strategy to increae the revenue would be to opt for developing the greatest items and asking the higher prices for them instead of launching regular items for the lowest price.

----

### Library

In [1]:
import pandas as pd
import os

In [2]:
csv_path = os.path.join("pymoli_purchase_data.csv")

In [3]:
pymoli_df = pd.read_csv(csv_path)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

### Dataframe exploration

In [4]:
#look for missing values, seems to be all right
pymoli_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

### 1. Players count

In [5]:
no_players = len(pymoli_df["SN"].unique())
total_players = pd.DataFrame({"Total players" : [no_players]})
total_players

   Total players
0            576

### 2. Purchasing analysis

In [6]:
#Number of Unique Items
items_unique = len(pymoli_df["Item ID"].unique())
#Average Purchase Price
average_price = pymoli_df["Price"].mean()
#Total Number of Purchases
no_purchases = pymoli_df["Item Name"].count()
#Total revenue
total_rev = pymoli_df["Price"].sum()
#Dataframe
pur_analysis = pd.DataFrame({"Number of Unique Items": [items_unique],
                             "Average Price" : [average_price],
                            "Number of Purchases" : [no_purchases],
                             "Total Revenue" : [total_rev]})

pur_analysis["Average Price"] = pur_analysis["Average Price"].map("${:.2f}".format)
pur_analysis["Total Revenue"] = pur_analysis["Total Revenue"].map("${:,}".format)
pur_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

### 3. Gender demographic

In [7]:
#Get rid of multiple purchases records from the players
unique_players = pymoli_df.drop_duplicates(subset = "SN")
#Count how many players are from each gender category
genders = unique_players["Gender"].value_counts()
genders

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [8]:
#Calculate the percentages
percentages = genders / (genders.sum())
percentages

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [9]:
#Dataframe
gen_dem = pd.DataFrame({"Total Count" : genders,
                        "Percentages of players" : percentages})

gen_dem["Percentages of players"] = gen_dem["Percentages of players"].map("{:.2%}".format)
gen_dem

                       Total Count Percentages of players
Male                           484                 84.03%
Female                          81                 14.06%
Other / Non-Disclosed           11                  1.91%

### 4. Purchasing analysis

In [10]:
#Purchase count per gender
purch_gender = pymoli_df.groupby(["Gender"])["Purchase ID"].count()
purch_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [11]:
#Average purchase price per gender
mean_purch_gen = pymoli_df.groupby(["Gender"])["Price"].mean()
mean_purch_gen

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [12]:
#Total purchase value per gender
sum_purch_gen = pymoli_df.groupby(["Gender"])["Price"].sum()
sum_purch_gen

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [13]:
#Step 1: Purchase Price Total per player
ave_per_player = pymoli_df.groupby(["SN", "Gender"])["Price"].sum()
ave_per_player_df =pd.DataFrame(ave_per_player)
ave_per_player_df.head()

                     Price
SN           Gender
Adairialis76 Male     2.28
Adastirin33  Female   4.48
Aeda94       Male     4.91
Aela59       Male     4.32
Aelaria33    Male     1.79

In [14]:
#Setp 2: Average Purchase Price Total per person by gender
ave_purch_person_gen = ave_per_player_df.groupby(["Gender"])["Price"].mean()
ave_purch_person_gen

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
Name: Price, dtype: float64

In [15]:
#Dataframe
purch_ana = pd.DataFrame({"Purchase Count" : purch_gender,
                          "Average Purchase Price" : mean_purch_gen,
                         "Total Purchase Value" : sum_purch_gen,
                         "Avg Total Purchase per Person" : ave_purch_person_gen })

purch_ana["Average Purchase Price"] = purch_ana["Average Purchase Price"].map("${:.2f}".format)
purch_ana["Total Purchase Value"] = purch_ana["Total Purchase Value"].map("${:,.2f}".format)
purch_ana["Avg Total Purchase per Person"] = purch_ana["Avg Total Purchase per Person"].map("${:.2f}".format)
purch_ana

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

### 5. Age demographics

In [16]:
#Create the bins for age segments
bins = [1,9,14,19,24,29,34,39,95]
label_ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
dem_segments = unique_players.copy() #To handle "SettingWithCopyWarning"
dem_segments["Age Segment"] = pd.cut(dem_segments["Age"], bins, labels = label_ages)
dem_segments.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Segment
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [17]:
#Count how many people belong to each segment
ages_count = dem_segments["Age Segment"].value_counts(sort = False)
ages_count

<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age Segment, dtype: int64

In [18]:
#Calculate percentages
ages_per = ages_count / ages_count.sum()
ages_per

<10      0.029514
10-14    0.038194
15-19    0.185764
20-24    0.447917
25-29    0.133681
30-34    0.090278
35-39    0.053819
40+      0.020833
Name: Age Segment, dtype: float64

In [19]:
#Dataframe
age_dem = pd.DataFrame({"Total Count" : ages_count,
                       "Percentage of Players" : ages_per})

age_dem["Percentage of Players"] = age_dem["Percentage of Players"].map("{:.2%}".format)
age_dem

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

### 6. Purchasing analysis (age)

In [20]:
#Assign age segment to the original dataframe
bins = [1,9,14,19,24,29,34,39,95]
label_ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pymoli_df_age_seg = pymoli_df.copy()
pymoli_df_age_seg["Age Segment"] = pd.cut(pymoli_df_age_seg["Age"], bins, labels = label_ages)
pymoli_df_age_seg

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Segment
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [21]:
#Total purchases per age segment
purch_count_age = pymoli_df_age_seg.groupby(["Age Segment"])["Item Name"].count()
purch_count_age

Age Segment
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Item Name, dtype: int64

In [22]:
#Average purchase price per age segment 
ave_purch_age = pymoli_df_age_seg.groupby(["Age Segment"])["Price"].mean()
ave_purch_age

Age Segment
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [23]:
#Total revenue per age segment
sum_purch_age = pymoli_df_age_seg.groupby(["Age Segment"])["Price"].sum()
sum_purch_age

Age Segment
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [24]:
#Step 1: Total purchase per player 
mean_purch_per_age = pymoli_df_age_seg.groupby(["SN", "Age Segment"])["Price"].sum()
mean_purch_per_age

SN            Age Segment
Adairialis76  <10             NaN
              10-14           NaN
              15-19          2.28
              20-24           NaN
              25-29           NaN
                             ...
Zontibe81     20-24          8.03
              25-29           NaN
              30-34           NaN
              35-39           NaN
              40+             NaN
Name: Price, Length: 4608, dtype: float64

In [25]:
#Step 2: Drop all the rows with NaN values from "Age Segment" column
mean_purch_per_age_clean = mean_purch_per_age.dropna(how = "any")
mean_purch_per_age_clean

SN             Age Segment
Adairialis76   15-19          2.28
Adastirin33    35-39          4.48
Aeda94         15-19          4.91
Aela59         20-24          4.32
Aelaria33      20-24          1.79
                              ...
Yathecal82     20-24          6.22
Yathedeu43     20-24          6.02
Yoishirrala98  15-19          4.58
Zhisrisu83     10-14          7.89
Zontibe81      20-24          8.03
Name: Price, Length: 576, dtype: float64

In [26]:
#Setp 3: Average purchase price per age asegment
mean_purch_age_seg = mean_purch_per_age_clean.groupby(["Age Segment"]).mean()
mean_purch_age_seg

Age Segment
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
Name: Price, dtype: float64

In [27]:
#Dataframe
purch_ana_age = pd.DataFrame({"Purchase Count": purch_count_age,
                             "Average Purchase Price" : ave_purch_age,
                             "Total Purchase Value" : sum_purch_age,
                             "Avg Total Purchase Per Person" : mean_purch_age_seg})

purch_ana_age["Average Purchase Price"] = purch_ana_age["Average Purchase Price"].map("${:.2f}".format)
purch_ana_age["Total Purchase Value"] = purch_ana_age["Total Purchase Value"].map("${:.2f}".format)
purch_ana_age["Avg Total Purchase Per Person"] = purch_ana_age["Avg Total Purchase Per Person"].map("${:.2f}".format)
purch_ana_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Segment,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

### 7. Top spenders

In [28]:
#Access to columns needed for Top spenders calculations
pymoli_sn_price = pymoli_df.loc[:,["SN", "Price"]]
#Total price purchase per player
players_total_price = pymoli_sn_price.groupby(["SN"])["Price"].sum()
players_total_price

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [29]:
#Calculate no. of purchases per player
players_total_purch = pymoli_sn_price.groupby(["SN"])["Price"].count()
players_total_purch.head(7)

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Aelastirin39    2
Aelidru27       1
Name: Price, dtype: int64

In [30]:
#Calculate average purchase price per player
players_ave_price = pymoli_sn_price.groupby(["SN"])["Price"].mean()
players_ave_price

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [31]:
#Dataframe
players_spends = pd.DataFrame({"Total Purchase Value" : players_total_price,
                              "Average Purchase Price" : players_ave_price,
                              "Purchase Count" : players_total_purch})

players_spends = players_spends.sort_values(["Total Purchase Value"], ascending = False)
players_spends["Total Purchase Value"] = players_spends["Total Purchase Value"].map("${:.2f}".format)
players_spends["Average Purchase Price"] = players_spends["Average Purchase Price"].map("${:.2f}".format)
players_spends = players_spends.iloc[:5]
players_spends

            Total Purchase Value Average Purchase Price  Purchase Count
SN
Lisosia93                 $18.96                  $3.79               5
Idastidru52               $15.45                  $3.86               4
Chamjask73                $13.83                  $4.61               3
Iral74                    $13.62                  $3.40               4
Iskadarya95               $13.10                  $4.37               3

### 8. Most Popular items

In [32]:
#Access to columns needed for Most popular items calculations
items_df = pymoli_df.loc[:,["Item ID", "Item Name", "Price"]]
items_df.head(3)

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88

In [33]:
#Count of each item purchased
items_count = items_df.groupby(["Item ID", "Item Name"])["Item Name"].count()
items_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Item Name, Length: 179, dtype: int64

In [34]:
#Total revenue from each item
items_rev = items_df.groupby(["Item ID", "Item Name"])["Price"].sum()
items_rev

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [35]:
#Get the unit price with the same arrangement as the rest of calculations
items_price = items_df.groupby(["Item ID", "Item Name"])["Price"].mean()
items_price

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [50]:
#Dataframe
most_pop_items = pd.DataFrame({"Purchase Count" : items_count,
                               "Item Price" : items_price,
                               "Total Purchase Value" : items_rev})

#To handle "SettingWithCopyWarning"
most_purch_items = most_pop_items.copy()

most_purch_items["Item Price"] = most_purch_items["Item Price"].map("${:.2f}".format)
most_purch_items["Total Purchase Value"] = most_purch_items["Total Purchase Value"].map("${:.2f}".format)

most_purch_items = most_purch_items.sort_values(["Purchase Count"], ascending = False)
top5_most_purch = most_purch_items.iloc[:5]
top5_most_purch

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

### 9. Most Profitable Items

In [41]:
#To handle the 'SettingWithCopyWarning'
most_prof_items = most_pop_items.copy()
#New sorting
most_prof_items = most_prof_items.sort_values(["Total Purchase Value"], ascending = False)

most_prof_items["Item Price"] = most_prof_items["Item Price"].map("${:.2f}".format)
most_prof_items["Total Purchase Value"] = most_prof_items["Total Purchase Value"].map("${:.2f}".format)

top5_most_prof = most_prof_items.iloc[:5]
top5_most_prof

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80